*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}
.main_div{
    height: 10vh;
    width: 100vw;
    background-color: black;
    z-index: 1;
    position: relative;
}
.child_div{
    width: 70vw;
    height: 10vh;
    background-color: gray;
    margin-left: 15%;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.child_div_div{
    display: flex;
    justify-content: flex-end;
}
.child_div li{
    list-style: none;
    padding: 5px;
    text-transform: uppercase;
}
.child_div li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.home{
    position: relative;
}
.home img{
    width: 100vw;
    margin-top: -20%;
}
.homePara{
    position: absolute;
    top:25% ;
    left: 50%;
    font-weight: bolder;
    color: white;
}
.div1_btn input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border:2px solid white;
    height: 30px;
    width: 320px;
    
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    gap: 20px;
    margin-top: -5%;
    margin-left: -10px;
    background-color: black;
}
.cards_one{
    background-color: brown;
    width: 300px;
    height: 300px;
    z-index: +1;
}
.cards_one h3{
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 100px;
}
.cards_one p{
    text-align: justify;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.cards_two{
    background-color: skyblue;
}
.cards_three{
    background-color: orange;
}
.section{
    width: 100vw;   
    padding-bottom: 2%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: center;
}
.section img{
    height: 353px;
    width: 450px;
}
.section_div h1{
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
}
.section_div{
    width: 45%; 
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_cards_images img {
    width: 30%;
    height: 50%;

}
.section_p{
    color: white;
    font-size: 80%;
    font-weight: bolder;
    padding-left: 18px;
    padding-right: 5px;
    text-align: justify;
    padding-top: 2%;
}
.btn{
    margin-top: 2%;
    height: 50px;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
    background: gray;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bolder;
}
.main_cards{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}
.main_cards h1{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.main_cards_p{
    margin-bottom: 2%;
    text-align: center;
}
.main_cards_images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    height: 50px;
    width: 180px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background: transparent;
    border: 2px solid white;
}
.page_section{
    height: 70vh;
    width: 100vw;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.child1{
    height: 50%;
    width: 20%;
}
.child1 p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.315);
    font-size: 15px;
    font-weight: bold;
}
.child_div_div1{
    display: flex;
    margin-top: 5px;
}
.child1 i{
    color: rgba(0, 0, 0, 0.315);
    margin-top: 6px;
}
.child1 p{
    color: rgba(0, 0, 0, 0.315);
    padding-left: 8px;
}
.child2{
    margin-top: 20px;
}
.child2 h1{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}
.child2 p{
    padding: 5px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.315);
    font-size: 15px;
}
.child3{
    margin-top: 15px;
}
.child3 h1{
    text-transform: capitalize;
    color: white;
    font-size: 30px;
}
.child3 p{
    padding-right: 200px;
    margin-top: 25px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.315);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.div1_btn input{
    height: 30px;
    width: 320px;
    margin-left: -20px;
    padding-left: 20px;
    margin-left: 3px;
    background: transparent;
}
.div2_btn{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    background: transparent;
}
.div2_btn input{
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.card-mar{
    margin-right: 100%;
}
.bottom{
    height: 100px; 
    width: 100vw; 
    background-color: black; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.bottoma_div{
    margin-right: 300px;
}
.bottom_div_p{
    color: white; 
    margin-top: 50px; 
    margin-left: 100px; 
    font-size: 20px;
}
.bottom_div_i{
    display: flex; 
    padding: 2px; 
    color: white; 
    margin-top: 50px; 
    margin-right: 500px; 
    font-size: 20px; 
    gap: 10px;
}

.l{
    margin-top: 10%;
}
.cardBody{
    margin-top: 20%;
}
.card-title{
    text-transform: capitalize;
}
.card-text{
    text-transform: capitalize;
}
.card_head{
    margin-top: 10%;
}
@media screen and (max-width:400px){
    .heading_one{
        font-size: 15px;
    }
    .heading_two{
        font-size: 15px;
        margin-top: -5%;
    }
    .child_div{
        display: flex;
        justify-content: center;
    }
    .child_div_div{
        display: none;
    }
    .homePara{
        font-size: 5px;
    }
    .section_div{
        height: 353px;
        width: 450px;
    }
    .page_section{
        flex-direction: column;
        border: 3px solid red;
        padding-left: 10%;
    }
    .child1 img{
        margin-left: 30%;
    }
    .child1 p{
        font-size: 10px;
        width: 80vw;
        text-align: justify;
    }
    .child2{
        display: none;
    }
    .child3{
        display: none;
    }
    .child1 img{
        padding-left: 20%;
        margin-top: -30%;
        justify-content: center;
    }
    #card-para{
        width: 100vw;
        margin-left: -50%;
    }
    .card{
        background-color: red;
    }
    .child_div_div1{
        font-size: 10%;
    }
    .page_child_child_section h1{
        font-size: 10%;
    }
    .page_child_child_section{
        margin-top: 80%;
    }
    .page_child_child_section p{
        font-size: 10%;
    }
    .page_child_child_child_section h1{
        font-size: 10%;
    }
    .page_child_child_child_section p{
        font-size: 10%;
    }
    .div1{
        display: none;
    }
    .div1 button{
        display: none;
    }
    .bottom{
        font-size: 10px;
        width: 100vw;
        margin-top: -15%;
        display: flex;
        flex-direction: column;
    }
    .bottom_div_p{
        font-size: 15px;
        margin-top: 5%;
    }
    .bottom_div_i i{
        font-size: 10px;
        margin-left: -50%;
    }
}